/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/11/2020, 22:54:43
    Author     : Jamilly
*/


.arrow-left{
    position: absolute;
    left: 2%;
    top: 2%; 
    
    font-size:20px; 
    color:#ffffff;

    padding: 12px 14px;
    border-radius: 16px;

    cursor: pointer;
}

.arrow-left:hover{
    color: #ffffffc5;
}

.new-student{
    position: absolute;
    left: 13%;
    top: 2%; 
    
    font-size:20px; 
    color:#ffffff;

    padding: 12px 14px;
    border-radius: 16px;

    cursor: pointer;
}

.new-student:hover{
    color: #ffffffc5;
}

#formu{
    display: none;
}

.create-form {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    background: #ffffff ;
    border-radius: 20px;
    
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 64px;
  
    overflow: hidden;
    margin-bottom: 100px;
}

.create-form fieldset{
    border:none;
    padding:0;
    padding-top: 3px;
}

.create-form fieldset p{
    margin-bottom: 20px;
    color:#ca0000;
}

.create-form .input-block + .input-block {
    margin-top: 24px;
}
  
.create-form .input-block label {
    display: flex;
    color: #61807c;
    margin-bottom: 8px;
    font-weight: 400;
}
  

.create-form .input-block input{
    width: 60% !important;
    background:#F0F0F7 !important;
    border: 1px solid rgb(201, 201, 201) !important;
    border-radius: 20px !important;
    outline: none !important;
    height: 54px !important;
    padding: 0 16px !important;
}

.create-form .input-block input:focus{
    border: 1px solid #05ceba;
}

.confirm-button {
    margin-top: 64px;
  
    width: 25%;
    height: 54px;
    border: 0;
    cursor: pointer;
    background:  #039b8c;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    position: absolute;
    top:0;
    right: 80px;
  
    transition: background-color 0.2s;
}
  
.confirm-button:hover {
    background: #05ceba;
}

.button-create{
    border: none;
    background: none;
   
    color: #167761;
    
    
    cursor:pointer;
}

.button-create:hover{
    color: #167760d5;
}

.button-create:focus{
    background: none;
}

table thead{
    background-color: #008075;
    color: #ffffff;
}

table.striped>tbody>tr {
    background: #0080444b;                                 
}

.erro{
    color: #D12D0A;
    padding-bottom: 15px;
}